:root{
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-white: white;
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: inheritx    ;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    height: 65px;
    list-style: none;
    background-color: maroon;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav-list a{
    display: block;
    font-size: 1.2rem;
    padding: 2rem;
}

.nav-list{
    display: flex;
    margin-right: 2rem;
}

ul{
    list-style: none;
}
li{
    display: list-item;
}

a{
    text-decoration: none;
    color: white;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

h1{
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.about > h3 {
    font-size: 3rem;
    font-style: italic;
}

.about > h1{
    color: white;
}
.about > h3{
    color: red;
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
}
  
.projects-section-header {
    text-align: center;
    font-size: 3rem;
    max-width: 750px;
    color: white;
    border-bottom: 2px solid white;
    margin: 0 auto 6rem auto;
}
  
@media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
}
  
/* "Automagic" image grid using no media queries */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
  
@media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
}
  
  .project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}
  
.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}
  
.project:hover .code {
    color: #ff7f50;
}
  
.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}
  
.project-title {
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
}

.btn-show-all{
    font-size: 25px;
    background-color: var(--main-gray);
    padding: 15px;
}

.btn{
    display: inline-block;
}

#contact-section{
    background-color: var(--main-gray);
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
}

.contact-heading{
    font-size: 3.5rem;
    text-align: center;
    color: white;
}

.contact-subtitle{
    font-size: 1.5rem;
    color: var(--main-white);
    text-align: center;
    font-style: italic;
}

.social-media{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    margin-top: 80px;
    font-size: 35px;
    transition: transform 0.3s ease-out;
}

footer{
    display: flex;
    border-top: 3px solid red;
    background-color: var(--main-gray);
    color: var(--main-white);
    font-weight: 300;
    justify-content: space-evenly;
    padding: 1rem;
}